@import url( '/css/global.css' );

/*
 * Standard CSS definitions
 */
body { 
	margin: 0px;
    color: rgb( 200, 194, 190 ); 
    font-family: "Georgia", "Verdana", "Arial", "Serif";
    background: rgb( 100, 32, 34 );	/* maroon */
}

#wrapper {
    position: absolute;
    left: 0px;
    top: 100px;
    bottom: 100px;
    z-index: 5;
    background: rgb( 79, 50, 76 );
    border-top: 2px ridge rgb( 200, 194, 190 ); 
    border-bottom: 2px ridge rgb( 200, 194, 190 ); 
	width: 100%;
    font-size: 17px;
}

#content {
	position: relative;
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 60px;
	height: 442px;
	overflow: hidden;
}

#nav {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 50%;
    word-spacing: 20px;
    font-size: 17px;
	z-index: 20;
}

p { 
	margin: 0px;
}

#logo {
    position: absolute;
    top: 3px;
    left: 5px;
	z-index: 10;
}

.left {
	float: left;
	padding-right: 20px;
}

div.input {
	float: left;
}

#contact {
    position: relative;
    padding: 15px;
    font-size: 14pt;
    letter-spacing: 1px;
	margin: auto;
    width: 375px;
}

#contact_confirmation {
    display: none;
}
#contact_error {
    display: none;
}

.label {
    float: left;
    width: 120px;
    text-align: left;
}

.form {
    float: right;
    text-align: left;
}

input {
    border: 1px solid;
    width: 250px;
	background: #baabab;
	margin: 0px;
	padding: 0px;
}
textarea {
	margin-top: 6px;
    border: 1px solid;
    width: 250px;
	background: #baabab;
}

.error {
    color: yellow;
    font-size: 8pt;
}

img.padded {
	padding: 20px;

}
